@import "./variables.scss";
@import "./fonts.scss";

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: 'Ubuntu', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Consolas, 'Courier New', monospace;
}
